<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mostafazaghloul.eduplane">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplachActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.loginActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Activities.SignupActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AccountActivity"
            android:label="@string/account"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity android:name=".Activities.CoursesActivity" />
        <activity android:name=".Activities.notificationActivity" />
        <activity android:name=".Activities.categoryActivity" />
        <activity android:name=".Activities.CourseReservationActivity"></activity>
        <activity android:name=".Activities.CoursesItemActivity"></activity>
        <activity android:name=".Activities.ShowingContent"></activity>
    </application>

</manifest>